includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
  level: max

  ignoreErrors:
    -
      identifier: missingType.iterableValue

  paths:
    - src
    - tests
